<?xml version="1.0" ?>
<model>
    <name>backdrop</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Elizabeth Neleski</name>
        <email>eneleski@students.kennesaw.edu
	</email>
    </author>
    <description>A backdrop for use of training</description>
</model>
