<launch>

    <arg name="config" default="true"/>
    <arg name="rviz_config" default="$(find moveit)/launch/moveit.rviz" />
    
    <!-- Add planning context launch file -->
    <include file="$(find moveit)/launch/planning_context.launch">
        <arg name="load_robot_description" value="false"/>
    </include>
    
    
    <include file="$(find moveit)/launch/moveit_rviz.launch">
        <arg name="config" value="$(arg config)" />
    </include>

</launch>
