<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  
  <param name="robot_description" command="$(find xacro)/xacro '$(find mobile_arm)/models/gripper/gripper_02_position_control.urdf.xacro'"/>
  
  <rosparam file="$(find mobile_arm)/models/gripper/gripper_control.yaml" command="load"/>

  <!-- Spawn a mobile arm in Gazebo, taking a description from the parameter server -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false"
	args="-param robot_description -urdf -model mobile_arm"/>  

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" args="--namespace=/gripper gripper_joint_position_controller joint_state_controller"/>
  

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <!--remap from="/joint_states" to="/rrbot/joint_states" /-->
  </node>
</launch>
